<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLiveNormalizer.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CLiveNormalizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CLiveNormalizer.Properties.User>
            <setting name="Format" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Samplerate" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Dbcorr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>-6</value>
            </setting>
            <setting name="ReturnTo" serializeAs="String">
                <value>-12</value>
            </setting>
            <setting name="FadeTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BusNr" serializeAs="String">
                <value>0</value>
            </setting>
        </CLiveNormalizer.Properties.User>
        <CLiveNormalizer.Properties.Settings>
            <setting name="Format" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Samplerate" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Dbcorr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>-6</value>
            </setting>
            <setting name="ReturnTo" serializeAs="String">
                <value>-12</value>
            </setting>
            <setting name="FadeTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BusNr" serializeAs="String">
                <value>0</value>
            </setting>
        </CLiveNormalizer.Properties.Settings>
    </userSettings>
</configuration>